<!-- reviews/edit -->
<div class="row">
  <h1>Edit Review:</h1>
</div>
<br>

<form action="/reviews/<%=@review.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <div class="row">
    <h3>Choose an operating system:</h3>
  </div>
  <% @OS.each do |opsys| %>
    <input type="radio" name="review[operating_system_id]" value="<%=opsys.id%>" <%="checked" if @review.operating_system.id == opsys.id%>><%=opsys.name%></input>
  <% end %>
  <br><br>
  <div class="row">
    <h3>Or, enter a new operating system:</h3>
  </div>
  <div class="row">
    <div class="col-md-4">

      <input type="text" id="os_name" name="os[name]" placeholder="Name" >
    </div>
    <div class="col-md-4">

      <input type="text" id="os_type" name="os[platform]" placeholder="Type">
    </div>
    <div class="col-md-4">

      <input type="text" id="os_ss" name="os[screenshot]" placeholder="Screenshot (optional)">
    </div>
  </div>
  <br>
  <div class="row">
    <textarea name="review[content]" rows="8" cols="80">
<%=@review.content%>
    </textarea>
  </div>
  <br>
  <div class="row">
    <input type="submit" value="Save Changes">
  </div>
</form>
