<!-- reviews/show -->
<div class="row">
  <h1>Review for <%=@review.operating_system.name%></h1>
</div>

<div class="row">
  <h2>Submitted by <%=@review.user.name%></h2>
</div>

<div class="row">
  <p class="larger"><%=@review.content%></p>
</div>
  <% if !@review.operating_system.screenshot.empty? %>
    <div class="row">
      <h3>Screenshot:</h3>
    </div>
      <img src="<%=@review.operating_system.screenshot%>" alt="Screenshot of <%=@review.operating_system.name%>">
  <% end %>

<div class="row">
  <div class="col-sm-2">
    <a href="/reviews/<%=@review.id%>/edit"><button type="button">Edit</button></a>
  </div>
  <div class="col-sm-2">
    <a href="/reviews/<%=@review.id%>/delete"><button type="button">Delete</button></a>
  </div>
</div>
